<script type="application/json" id="suggestions">
  [
    {
      "title": "United Kingdom",
      "value": "44"
    },
    {
      "title": "Afghanistan",
      "value": "93"
    },
    {
      "title": "Albania",
      "value": "355"
    },
    {
      "title": "Algeria",
      "value": "213"
    },
    {
      "title": "American Samoa",
      "value": "1"
    },
    {
      "title": "Andorra",
      "value": "376"
    },
    {
      "title": "Angola",
      "value": "244"
    },
    {
      "title": "Anguilla",
      "value": "1264"
    },
    {
      "title": "Antarctica",
      "value": "672"
    },
    {
      "title": "Antigua and Barbuda",
      "value": "1268"
    },
    {
      "title": "Argentina",
      "value": "54"
    },
    {
      "title": "Armenia",
      "value": "374"
    },
    {
      "title": "Aruba",
      "value": "297"
    },
    {
      "title": "Australia",
      "value": "61"
    },
    {
      "title": "Austria",
      "value": "43"
    },
    {
      "title": "Azerbaijan",
      "value": "994"
    },
    {
      "title": "Bahamas",
      "value": "1242"
    },
    {
      "title": "Bahrain",
      "value": "973"
    },
    {
      "title": "Bangladesh",
      "value": "880"
    },
    {
      "title": "Barbados",
      "value": "1246"
    },
    {
      "title": "Belarus",
      "value": "375"
    },
    {
      "title": "Belgium",
      "value": "32"
    },
    {
      "title": "Belize",
      "value": "501"
    },
    {
      "title": "Benin",
      "value": "229"
    },
    {
      "title": "Bermuda",
      "value": "1441"
    },
    {
      "title": "Bhutan",
      "value": "975"
    },
    {
      "title": "Bolivia",
      "value": "591"
    },
    {
      "title": "Bosnia and Herzegovina",
      "value": "387"
    },
    {
      "title": "Botswana",
      "value": "267"
    },
    {
      "title": "Brazil",
      "value": "55"
    },
    {
      "title": "British Indian Ocean Territory",
      "value": "246"
    },
    {
      "title": "British Virgin Islands",
      "value": "1284"
    },
    {
      "title": "Brunei",
      "value": "673"
    },
    {
      "title": "Bulgaria",
      "value": "359"
    },
    {
      "title": "Burkina Faso",
      "value": "226"
    },
    {
      "title": "Myanmar",
      "value": "95"
    },
    {
      "title": "Burundi",
      "value": "257"
    },
    {
      "title": "Cambodia",
      "value": "855"
    },
    {
      "title": "Cameroon",
      "value": "237"
    },
    {
      "title": "Canada",
      "value": "1"
    },
    {
      "title": "Cape Verde",
      "value": "238"
    },
    {
      "title": "Cayman Islands",
      "value": "1345"
    },
    {
      "title": "Central African Republic",
      "value": "236"
    },
    {
      "title": "Chad",
      "value": "235"
    },
    {
      "title": "Chile",
      "value": "56"
    },
    {
      "title": "China",
      "value": "86"
    },
    {
      "title": "Christmas Island",
      "value": "61"
    },
    {
      "title": "Cocos Islands",
      "value": "61"
    },
    {
      "title": "Colombia",
      "value": "57"
    },
    {
      "title": "Comoros",
      "value": "269"
    },
    {
      "title": "Republic of the Congo",
      "value": "242"
    },
    {
      "title": "Democratic Republic of the Congo",
      "value": "243"
    },
    {
      "title": "Cook Islands",
      "value": "682"
    },
    {
      "title": "Costa Rica",
      "value": "506"
    },
    {
      "title": "Croatia",
      "value": "385"
    },
    {
      "title": "Cuba",
      "value": "53"
    },
    {
      "title": "Curacao",
      "value": "599"
    },
    {
      "title": "Cyprus",
      "value": "357"
    },
    {
      "title": "Czech Republic",
      "value": "420"
    },
    {
      "title": "Denmark",
      "value": "45"
    },
    {
      "title": "Djibouti",
      "value": "253"
    },
    {
      "title": "Dominica",
      "value": "1767"
    },
    {
      "title": "Dominican Republic (1809)",
      "value": "1809"
    },
    {
      "title": "Dominican Republic (1829)",
      "value": "1829"
    },
    {
      "title": "Dominican Republic (1849)",
      "value": "1849"
    },
    {
      "title": "East Timor",
      "value": "670"
    },
    {
      "title": "Ecuador",
      "value": "593"
    },
    {
      "title": "Egypt",
      "value": "20"
    },
    {
      "title": "El Salvador",
      "value": "503"
    },
    {
      "title": "Equatorial Guinea",
      "value": "240"
    },
    {
      "title": "Eritrea",
      "value": "291"
    },
    {
      "title": "Estonia",
      "value": "372"
    },
    {
      "title": "Ethiopia",
      "value": "251"
    },
    {
      "title": "Falkland Islands",
      "value": "500"
    },
    {
      "title": "Faroe Islands",
      "value": "298"
    },
    {
      "title": "Fiji",
      "value": "679"
    },
    {
      "title": "Finland",
      "value": "358"
    },
    {
      "title": "France",
      "value": "33"
    },
    {
      "title": "French Polynesia",
      "value": "689"
    },
    {
      "title": "Gabon",
      "value": "241"
    },
    {
      "title": "Gambia",
      "value": "220"
    },
    {
      "title": "Georgia",
      "value": "995"
    },
    {
      "title": "Germany",
      "value": "49"
    },
    {
      "title": "Ghana",
      "value": "233"
    },
    {
      "title": "Gibraltar",
      "value": "350"
    },
    {
      "title": "Greece",
      "value": "30"
    },
    {
      "title": "Greenland",
      "value": "299"
    },
    {
      "title": "Grenada",
      "value": "1473"
    },
    {
      "title": "Guam",
      "value": "1671"
    },
    {
      "title": "Guatemala",
      "value": "502"
    },
    {
      "title": "Guernsey",
      "value": "441481"
    },
    {
      "title": "Guinea",
      "value": "224"
    },
    {
      "title": "Guinea Bissau",
      "value": "245"
    },
    {
      "title": "Guyana",
      "value": "592"
    },
    {
      "title": "Haiti",
      "value": "509"
    },
    {
      "title": "Honduras",
      "value": "504"
    },
    {
      "title": "Hong Kong",
      "value": "852"
    },
    {
      "title": "Hungary",
      "value": "36"
    },
    {
      "title": "Iceland",
      "value": "354"
    },
    {
      "title": "India",
      "value": "91"
    },
    {
      "title": "Indonesia",
      "value": "62"
    },
    {
      "title": "Iran",
      "value": "98"
    },
    {
      "title": "Iraq",
      "value": "964"
    },
    {
      "title": "Ireland",
      "value": "353"
    },
    {
      "title": "Isle of Man",
      "value": "441624"
    },
    {
      "title": "Israel",
      "value": "972"
    },
    {
      "title": "Italy",
      "value": "39"
    },
    {
      "title": "Ivory Coast",
      "value": "225"
    },
    {
      "title": "Jamaica",
      "value": "1876"
    },
    {
      "title": "Japan",
      "value": "81"
    },
    {
      "title": "Jersey",
      "value": "441534"
    },
    {
      "title": "Jordan",
      "value": "962"
    },
    {
      "title": "Kazakhstan",
      "value": "7"
    },
    {
      "title": "Kenya",
      "value": "254"
    },
    {
      "title": "Kiribati",
      "value": "686"
    },
    {
      "title": "Kosovo",
      "value": "383"
    },
    {
      "title": "Kuwait",
      "value": "965"
    },
    {
      "title": "Kyrgyzstan",
      "value": "996"
    },
    {
      "title": "Laos",
      "value": "856"
    },
    {
      "title": "Latvia",
      "value": "371"
    },
    {
      "title": "Lebanon",
      "value": "961"
    },
    {
      "title": "Lesotho",
      "value": "266"
    },
    {
      "title": "Liberia",
      "value": "231"
    },
    {
      "title": "Libya",
      "value": "218"
    },
    {
      "title": "Liechtenstein",
      "value": "423"
    },
    {
      "title": "Lithuania",
      "value": "370"
    },
    {
      "title": "Luxembourg",
      "value": "352"
    },
    {
      "title": "Macao",
      "value": "853"
    },
    {
      "title": "Macedonia",
      "value": "389"
    },
    {
      "title": "Madagascar",
      "value": "261"
    },
    {
      "title": "Malawi",
      "value": "265"
    },
    {
      "title": "Malaysia",
      "value": "60"
    },
    {
      "title": "Maldives",
      "value": "960"
    },
    {
      "title": "Mali",
      "value": "223"
    },
    {
      "title": "Malta",
      "value": "356"
    },
    {
      "title": "Marshall Islands",
      "value": "692"
    },
    {
      "title": "Mauritania",
      "value": "222"
    },
    {
      "title": "Mauritius",
      "value": "230"
    },
    {
      "title": "Mayotte",
      "value": "262"
    },
    {
      "title": "Mexico",
      "value": "52"
    },
    {
      "title": "Micronesia",
      "value": "691"
    },
    {
      "title": "Moldova",
      "value": "373"
    },
    {
      "title": "Monaco",
      "value": "377"
    },
    {
      "title": "Mongolia",
      "value": "976"
    },
    {
      "title": "Montenegro",
      "value": "382"
    },
    {
      "title": "Montserrat",
      "value": "1664"
    },
    {
      "title": "Morocco",
      "value": "212"
    },
    {
      "title": "Mozambique",
      "value": "258"
    },
    {
      "title": "Namibia",
      "value": "264"
    },
    {
      "title": "Nauru",
      "value": "674"
    },
    {
      "title": "Nepal",
      "value": "977"
    },
    {
      "title": "Netherlands",
      "value": "31"
    },
    {
      "title": "Netherlands Antilles",
      "value": "599"
    },
    {
      "title": "New Caledonia",
      "value": "687"
    },
    {
      "title": "New Zealand",
      "value": "64"
    },
    {
      "title": "Nicaragua",
      "value": "505"
    },
    {
      "title": "Niger",
      "value": "227"
    },
    {
      "title": "Nigeria",
      "value": "234"
    },
    {
      "title": "Niue",
      "value": "683"
    },
    {
      "title": "Northern Mariana Islands",
      "value": "1670"
    },
    {
      "title": "North Korea",
      "value": "850"
    },
    {
      "title": "Norway",
      "value": "47"
    },
    {
      "title": "Oman",
      "value": "968"
    },
    {
      "title": "Pakistan",
      "value": "92"
    },
    {
      "title": "Palau",
      "value": "680"
    },
    {
      "title": "Palestine",
      "value": "970"
    },
    {
      "title": "Panama",
      "value": "507"
    },
    {
      "title": "Papua New Guinea",
      "value": "675"
    },
    {
      "title": "Paraguay",
      "value": "595"
    },
    {
      "title": "Peru",
      "value": "51"
    },
    {
      "title": "Philippines",
      "value": "63"
    },
    {
      "title": "Pitcairn",
      "value": "64"
    },
    {
      "title": "Poland",
      "value": "48"
    },
    {
      "title": "Portugal",
      "value": "351"
    },
    {
      "title": "Puerto Rico (1787)",
      "value": "1787"
    },
    {
      "title": "Puerto Rico (1939)",
      "value": "1939"
    },
    {
      "title": "Qatar",
      "value": "974"
    },
    {
      "title": "Reunion",
      "value": "262"
    },
    {
      "title": "Romania",
      "value": "40"
    },
    {
      "title": "Russia",
      "value": "7"
    },
    {
      "title": "Rwanda",
      "value": "250"
    },
    {
      "title": "Saint Barthelemy",
      "value": "590"
    },
    {
      "title": "Samoa",
      "value": "685"
    },
    {
      "title": "San Marino",
      "value": "378"
    },
    {
      "title": "Sao Tome and Principe",
      "value": "239"
    },
    {
      "title": "Saudi Arabia",
      "value": "966"
    },
    {
      "title": "Senegal",
      "value": "221"
    },
    {
      "title": "Serbia",
      "value": "381"
    },
    {
      "title": "Seychelles",
      "value": "248"
    },
    {
      "title": "Sierra Leone",
      "value": "232"
    },
    {
      "title": "Singapore",
      "value": "65"
    },
    {
      "title": "Sint Maarten",
      "value": "1721"
    },
    {
      "title": "Slovakia",
      "value": "421"
    },
    {
      "title": "Slovenia",
      "value": "386"
    },
    {
      "title": "Solomon Islands",
      "value": "677"
    },
    {
      "title": "Somalia",
      "value": "252"
    },
    {
      "title": "South Africa",
      "value": "27"
    },
    {
      "title": "South Korea",
      "value": "82"
    },
    {
      "title": "South Sudan",
      "value": "211"
    },
    {
      "title": "Spain",
      "value": "34"
    },
    {
      "title": "Sri Lanka",
      "value": "94"
    },
    {
      "title": "Saint Helena",
      "value": "290"
    },
    {
      "title": "Saint Kitts and Nevis",
      "value": "1869"
    },
    {
      "title": "Saint Lucia",
      "value": "1758"
    },
    {
      "title": "Saint Martin",
      "value": "590"
    },
    {
      "title": "Saint Pierre and Miquelon",
      "value": "508"
    },
    {
      "title": "Saint Vincent and the Grenadines",
      "value": "1784"
    },
    {
      "title": "Sudan",
      "value": "249"
    },
    {
      "title": "Suriname",
      "value": "597"
    },
    {
      "title": "Svalbard and Jan Mayen",
      "value": "47"
    },
    {
      "title": "Swaziland",
      "value": "268"
    },
    {
      "title": "Sweden",
      "value": "46"
    },
    {
      "title": "Switzerland",
      "value": "41"
    },
    {
      "title": "Syria",
      "value": "963"
    },
    {
      "title": "Taiwan",
      "value": "886"
    },
    {
      "title": "Tajikistan",
      "value": "992"
    },
    {
      "title": "Tanzania",
      "value": "255"
    },
    {
      "title": "Thailand",
      "value": "66"
    },
    {
      "title": "Togo",
      "value": "228"
    },
    {
      "title": "Tokelau",
      "value": "690"
    },
    {
      "title": "Tonga",
      "value": "676"
    },
    {
      "title": "Trinidad and Tobago",
      "value": "1868"
    },
    {
      "title": "Tunisia",
      "value": "216"
    },
    {
      "title": "Turkey",
      "value": "90"
    },
    {
      "title": "Turkmenistan",
      "value": "993"
    },
    {
      "title": "Turks and Caicos Islands",
      "value": "1649"
    },
    {
      "title": "Tuvalu",
      "value": "688"
    },
    {
      "title": "United Arab Emirates",
      "value": "971"
    },
    {
      "title": "Uganda",
      "value": "256"
    },
    {
      "title": "Ukraine",
      "value": "380"
    },
    {
      "title": "Uruguay",
      "value": "598"
    },
    {
      "title": "United States",
      "value": "1"
    },
    {
      "title": "Uzbekistan",
      "value": "998"
    },
    {
      "title": "Vanuatu",
      "value": "678"
    },
    {
      "title": "Vatican",
      "value": "379"
    },
    {
      "title": "Venezuela",
      "value": "58"
    },
    {
      "title": "Vietnam",
      "value": "84"
    },
    {
      "title": "US. Virgin Islands",
      "value": "1340"
    },
    {
      "title": "Wallis and Futuna",
      "value": "681"
    },
    {
      "title": "Western Sahara",
      "value": "212"
    },
    {
      "title": "Yemen",
      "value": "967"
    },
    {
      "title": "Zambia",
      "value": "260"
    },
    {
      "title": "Zimbabwe",
      "value": "263"
    }
  ]
</script>
